
/*------------------------------------------------------------------ 
    SKELETON
-------------------------------------------------------------------*/
/*------------------------------------------------------------------ 
   LOADER 
-------------------------------------------------------------------*/

#preloader {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11000;
	position: fixed;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}

.loader {
    display: block;
    flex-wrap: wrap;
    width: 250px;
    height: auto;
    -webkit-transform-style: preserve-3d;
}

.loader img {
    width: 100%;
    height: auto;
}

.box {
	position: absolute;
	top: 0;
	left: 0;
	width: 75px;
	height: 75px;
	background-image: none;
	background-size: auto auto;
	background-image: none;
	-webkit-animation: move 2s ease-in-out infinite both;
	animation: move 2s ease-in-out infinite both;
	animation-delay: 0s;
	animation-delay: 0s;
	animation-delay: 0s;
	background-image: url('../images/gb.png');
	background-size: 100% 100%;
}

.box:nth-child(1) {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

.box:nth-child(2) {
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
}

.box:nth-child(3) {
	-webkit-animation-delay: -3s;
	animation-delay: -3s;
}

@-webkit-keyframes move {
	0%,
	100% {
		-webkit-transform: none;
		transform: none;
	}
	12.5% {
		-webkit-transform: translate(40px, 0);
		transform: translate(40px, 0);
	}
	25% {
		-webkit-transform: translate(80px, 0);
		transform: translate(80px, 0);
	}
	37.5% {
		-webkit-transform: translate(80px, 40px);
		transform: translate(80px, 40px);
	}
	50% {
		-webkit-transform: translate(80px, 40px);
		transform: translate(80px, 40px);
	}
	62.5% {
		-webkit-transform: translate(30px, 60px);
		transform: translate(30px, 60px);
	}
	75% {
		-webkit-transform: translate(0, 80px);
		transform: translate(0, 40px);
	}
	87.5% {
		-webkit-transform: translate(0, 40px);
		transform: translate(0, 40px);
	}
}

@keyframes move {
	0%,
	100% {
		-webkit-transform: none;
		transform: none;
	}
	12.5% {
		-webkit-transform: translate(40px, 0);
		transform: translate(40px, 0);
	}
	25% {
		-webkit-transform: translate(80px, 0);
		transform: translate(80px, 0);
	}
	37.5% {
		-webkit-transform: translate(80px, 40px);
		transform: translate(80px, 40px);
	}
	50% {
		-webkit-transform: translate(80px, 80px);
		transform: translate(80px, 80px);
	}
	62.5% {
		-webkit-transform: translate(40px, 80px);
		transform: translate(40px, 80px);
	}
	75% {
		-webkit-transform: translate(0, 80px);
		transform: translate(0, 80px);
	}
	87.5% {
		-webkit-transform: translate(0, 40px);
		transform: translate(0, 40px);
	}
}

#scroll-to-top {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 10px;
	right: 20px;
	display: none;
	font-size: 25px;
	border-radius: 0;
	transition: .2s;
	letter-spacing: 1px;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	font-weight: 900;
	border-radius: 100%;
}



/*------------------------------------------------------------------ Banner -------------------------------------------------------------------*/

.home-slider {
	position: relative;
	height: 540px;
}

.lbox-caption {
	display: table;
	height: 100% !important;
	width: 100% !important;
	left: 0 !important;
}

.lbox-caption {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 10;
}

.lbox-details {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	height: 100%;
	padding: 22% 0%;
}

.lbox-details::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.lbox-details h1 {
	font-size: 54px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-weight: 600;
	position: relative;
	z-index: 3;
}

.lbox-details h2 {
	font-size: 48px;
	color: #ffffff;
	font-weight: 300;
	position: relative;
	z-index: 3;
}

.lbox-details p {
	color: #ffffff;
	position: relative;
	z-index: 3;
}

.lbox-details p strong {
	color: #70c6eb;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

.lbox-details a.btn {
	background: #ffffff;
	padding: 10px 20px;
	font-size: 20px;
	text-transform: capitalize;
	color: #3a4149;
	border-radius: 0px;
	position: relative;
	z-index: 3;
}

.lbox-details a.btn:hover {
	background: #70c6eb;
}

.pogoSlider-nav-btn {
	background: #000;
}

.pogoSlider-nav-btn--selected {
	background: #f2184f !important;
}

.pogoSlider--navBottom .pogoSlider-nav {
	bottom: 20px;
}

.pogoSlider--dirCenterHorizontal .pogoSlider-dir-btn {
	display: none;
}



.slide_text h3 {
    font-size: 50px;
    font-weight: 700;
    padding: 0;
    line-height: 45px !important;
    text-transform: uppercase;
}

.slide_text h4 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.slide_text p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding-top: 0;
    line-height: normal;
    margin-bottom: 0;
}

.contact_bt {
    width: 180px;
    height: 50px;
    background: #01579B;
    color: #fff;
    float: left;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
    border-radius: 5px;
}

.contact_bt:hover,
.contact_bt:focus {
    color: #fff;
}

.dark_bg .contact_bt {
    margin-top: 30px;
}

.slide_text {
    margin-top: 220px;
    padding-left: 80px;
}


